@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

*{
  font-family: 'Lora', serif;
}
.bar-chart{
    width:80%;
    display: flex; 
    margin:2rem;
    box-sizing: border-box;
    background-color: rgb(253, 253, 253);
  box-shadow: 1px 1px 8px 1px;
  
  
}
#startdate{
  height:3%;
}
#enddate{
  height:3%;
}
.inputboxes{
  display:inline-table;
}

.line-chart{
    width:80%;
    display: flex; 
    margin:2rem;
    box-sizing: border-box;
    background-color: rgb(253, 253, 253);
  box-shadow: 1px 1px 8px 1px;

}

.doughnut-chart{
    width:80%;
    display: flex; 
    margin:2rem;
    box-sizing: border-box;
    background-color: rgb(253, 253, 253);
  box-shadow: 1px 1px 8px 1px;

}

.pie-chart{
    width:80%;
    display: flex; 
    margin:2rem;
    box-sizing: border-box;
    background-color: rgb(253, 253, 253);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    height: fit-content;

}





















